img {
    width: 140px;
    height: 140px;
    border-style: ridge;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h1, p, a, h3{
    font-family: sans-serif;
}

h2 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
table {
    padding: 0px;
}

body {
    background-color: aliceblue;
}

button {
    padding-right: 40px;
    padding-left: 40px;
    background-color: beige;
    text-align: center;
    position: static;
}